body {
    background-color: black;
    font-family: 'Alegreya Sans', sans-serif;
}

#container {
    width: 90%;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Luckiest Guy', cursive;
}

h1 {
    float: left;
}

#search {
    float: left;
    padding: 1.25em;
}

#search input {
    padding: 0.5em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}